services:
  - name: https-forward-proxy
    addr: ":__GOST_PORT__"
    handler:
      type: http
      auth:
        username: "__GOST_USERNAME__"
        password: "__GOST_PASSWORD__"
    listener:
      type: tls
      tls:
        certFile: /etc/letsencrypt/live/__CERT_NAME__/fullchain.pem
        keyFile: /etc/letsencrypt/live/__CERT_NAME__/privkey.pem
